<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="assets/style.css" type="text/css" rel="stylesheet">
  
      <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  
      <!-- Title that appears as name of page -->
      <title>Home</title>

     </head>

     <body>

       <!-- navigation bar -->

       <div class="header">
          <h1 class="title">Ascii Art Web</h1>
          <p class="sub">Stylize</p>
       </div>
  
       <div class="topnav">
          <a href="/">Go Back</a>
          <!--<a href="/Main/templates/about">About</a>-->
       </div>

    <!-- End of navigation bar -->

    <!-- Ascii result area -->

      <div class="content">
         <div class="ascii-area">
            <pre>{{.Result}}</pre>
         </div>
      </div>

    <!-- end of ascii result area -->
        
    <!-- footer -->
      <div class="footer">
        <p>copyright &copy;2023 reboot01 students </p>
      </div>

    <!-- end of footer -->

   </body>

</html>